<div class="container main-container">
    <h3>Interpolation</h3>
    <p>O número de cliques é : {{contadorClique}}</p>


    <br>
    <br>

    <h3>Property Binding</h3>

    <button class="btn btn-info" [disabled]="contadorClique >= 10">Info</button><br><br>

    <img [src]="urlImagem" alt="" height="50px" width="50px">

    <br><br><br><br>

    <h3>Event Binding</h3>

    <button class="btn btn-warning" (click)="adicionarClique()">Clique-me</button>&nbsp;
    <button class="btn btn-danger" (click)="zerarContador()" [disabled]='contadorClique < 10'>Zerar Contador</button>
</div>